.card {
     width: 100%;
     color: white;
     padding: 1rem;
     position: relative;
     border-radius: 10px;
     background: #390554;
     font-family: Poppins;
     font-size: .8rem;
}

.card-row {
     gap: 2em;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card-heading {
     font-weight: 600;
     font-size: 1rem;
}

.card .row {
     display: grid;
     grid-template-columns: 1fr 1fr;
}

.card-icon {
     width: 45px;
     height: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     bottom: 5px;
     right: 5px;
     padding: 1em;
     background: #960252;
     border-radius: 50%;
}